body {
  font-family: Arial, sans-serif;
  /* margin: 1rem; */
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: skyblue;
  min-width: 40%;
  /* xiaomi redmi 9c = 720*1600 */
}